@charset "utf-8";

/* =====全体  Marea Wedding Cruise PC ======= */

/* =====リセットCSS========================== */
/* #region top */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*======================================================
使用カラー
水色 #66c9e2 ------rgba(102,201,226,0.3);
青色 #6672e2 ------rgba(102,114,226,0.2)
濃オレンジ #ffa928 --------
薄オレンジ #ffddaa --------rgba(255,221,170,1)
======================================================= */

/* #endregion top */
/* =====html,body============================ */
/* #region top */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}
body {
  color: #707070;
  font-size: 1.125rem;
  margin: 0px;
  padding: 0px;
  font-family: "Cinzel-Regular", "Hannari", serif;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Cinzel-Regular";
  src: url('./font/Cinzel-Regular.ttf') format('ttf');
}
a {
  text-decoration: none;
  color: #505050;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
h1,h2 {
  line-height: 1;
  margin: 0;
}
nav, ul, li {
  list-style: none;
}
figure {
  padding: 0;
  margin: 0;
}
p {
  color: #505050;
  font-size: 1.125rem;
}
.anchor {
  display: block;
  padding-top: 120px;
  margin-top: -120px;
}
.wrapper {
  width: 1000px;
  margin-bottom: 300px;
  position: relative;
}
.section_title {
  font-size: clamp(35px, 3.64vw, 70px);
  margin-bottom: 30px;
}
.imga {
  width: 630px;
  display: block;
}
.imgb {
  width: 350px;
  display: block;
}
.imgc {
  width: 480px;
  display: block;
}
.link {
  width: 150px;
  height: 150px;
  background: linear-gradient(140deg, rgba(102,201,226,0) 0%, rgba(102,201,226,0.9) 50%, rgba(102,201,226,0) 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.link:hover {
  opacity: 0.5;
}
.link p {
  font-size: 1.25rem;
}
.arrow {
  width: 40px;
  height: 6px;
  display: block;
  margin-left: 10px;
}
.wrapper_back {
  border-radius: 50%;
  width: 920px;
  height: 920px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.backcircle {
  border-radius: 50%;
  width: 103vw;
  height: 103vw;
  position: absolute;
  z-index: -10;
}
.linebreak3 {
  display: none;
}
/* #endregion */
/* =====ヘッダー==============================*/
/* #region */
#header {
  font-size: clamp(16px, 0.93vw, 18px);
  /*background-color: rgba(255,255,255,0.5);*/
  width: 100vw;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
.nav_pc {
  display: flex;
  padding: 10px 50px;
}
.nav_pc a {
  padding: 0 20px;
  text-shadow: 1px 1px 3px #ffffff;
}
.nav_pc li a:hover {
  color: #ffffff;
  background-color: rgba(102, 114, 226, 0.8);
  text-shadow: none;
  padding: 5px 20px 8px 20px;
  border-radius: 20px;
}
.nav_sp {
  display: none;
}
/* #endregion top */
/* =====メインビジュアル===================== */
/* #region */
#mainvisual {
  background:url(img/mainvisual.png) no-repeat center center;
  background-size: 100%;
  width: 100%;
  height: 65vw;
  margin-bottom: 180px;
  position: relative;
}
.company_contact {
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  font-size: clamp(14px, 0.83vw, 16px);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 20px 3px 20px 7px;
  text-shadow: 1px 1px 3px #ffffff;
  position: fixed;
  z-index: 100;
}
.company_contact:hover {
  color: #ffffff;
  background-color: rgba(102, 114, 226, 0.8);
  text-shadow: none;
  border-radius: 20px;
}
/* #endregion */
/*-----タイトル-----------------------*/
/* #region */
.title_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}
.site_title {
  width: clamp(80px, 12.5vw, 200px);
  height: auto;
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
}
.site_title_inner {
  width: clamp(80px, 12.5vw, 200px);
}
.site-title img {
  margin-bottom: 30px;
}
.title_wrap h2 {
  font-size: clamp(60px, 4.16vw, 80px);
  text-shadow: #ffffff;
  text-shadow: 2px 2px 6px #ffffff;
}
.title_wrap p {
  font-size: clamp(18px, 1.56vw, 30px);
  margin: 30px 0;
  text-shadow: 2px 2px 6px #ffffff;
}
.ship {
  width: 43vw;
  height: 43vw;
  background: url(img/ship.jpg) no-repeat right 40% center/200%;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 20vw 0 0 58vw;
}
/*-----ボタン-----------------------*/
.mv_btn,
.mv_btn_rear {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 2vw;
  position: fixed;
  z-index: 100;
}
.mv_btn_rear {
  background-color: rgba(102, 201, 226, 0.5);
  right: 2.5vw;
}
.mv_btn {
  background-color: rgba(102, 114, 226, 0.5);
  box-shadow:inset -3px 3px 10px rgba(255,255,255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mv_btn_up:hover,
.mv_btn_under:hover {
  color: #ffa928;
}
.mv_btn p {
  color: #ffffff;
  font-size: clamp(18px, 1.56vw, 30px);
} 
.mv_btn_up {
  padding-bottom: 20px;
}
.mv_btn_under {
  padding-top: 20px;
}
/* #endregion top */
/* =====セレモニー=========================== */
/* #region */
#ceremony {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ceremony_link {
  margin: -95px 0 0 630px;
}
.ceremony_link:hover {
  opacity: 0.5;
}
.ceremony_img1 {
  margin-top: -20px;
}
.ceremony_img2 {
  margin: -100px 0 0 auto;
}
.ce_wrapper_back {
  background: linear-gradient(30deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
}
.ce_backcircle {
  background: linear-gradient(100deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -250px;
  right: 7vw;
}
/* #endregion top */
/* =====パーティー=========================== */
/* #region */
#party {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}
.party_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.party_link {
  margin: 0 0 0 630px;
}
.party_img1 {
  margin: -690px 0 0 0;
}
.party_img2 {
  margin: 150px 0 0 350px;
}
.pa_wrapper_back {
  background: linear-gradient(90deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
}
.pa_backcircle {
  background: linear-gradient(300deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -250px;
  left: 7vw;
}
/* #endregion top */
/* =====料理================================= */
/* #region */
#cuisine {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}
.cuisine_link {
  margin: 50px 630px 0 0;
}
.cuisine_lonk:hover {
  opacity: 0.5;
}
.cuisine_img1 {
  margin: -170px 0 0 350px;
}
.cuisine_img2 {
  margin: -180px 300px 0 0;
}
.cu_wrapper_back {
  background: linear-gradient(250deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
  margin-top: 100px;
}
.cu_backcircle {
  background: linear-gradient(100deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -100px;
  right: 7vw;
}
/* #endregion top */
/* =====ブライダルフェア===================== */
/* #region */
#fair {
  background: url(img/fair_back3.png) no-repeat center center/120%,
              url(img/fair_back2.png) no-repeat center center/120%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vw;
  margin-bottom: 300px;
}
.fair_wrapper {
  padding-bottom: 250px;
}
.fair_wrapper .section_title,
.fair_wrapper p {
  text-shadow: 2px 2px 3px #ffffff;
}
.fair_link {
  margin: -30px 0 0 800px;
  box-shadow:inset -3px 3px 10px rgba(255,255,255, 0.6);
}
.fair_lonk:hover {
  opacity: 0.5;
}
.fair_img1 {
  margin: -600px 300px 0 0;
}
.fair_img2 {
  margin: 100px 0 0 350px;
}
/* #endregion top */
/* =====プラン=============================== */
/* #region */
#plan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}
/*-----スリック----------------------*/
.slick {
  width: 1000px;
}  
ul.slick > li:not(:first-child) {
  display: none;
}
.slick_slide {
  width: 700px;
}
.plan_wrapper {
  width: 590px;
  margin: 50px auto 70px auto;
}
.plan_wrapper h3 {
  font-size: clamp(35px, 2.6vw, 50px);
}
/*-----moreリンク------------------*/
.plan_link {
  width: 120px;
  height: 120px;
  margin: -80px 0 0 350px;
}
.plan_link:hover {
  opacity: 0.5;
}
/*-----デイ------------------------------*/
.plan_dayinner {
  display: flex;
  justify-content: center;
}
/*-----画像------------------------*/
.plan_img1 {
  margin: -10px 0 0 0;
}
.plan_img2, .plan_img6 {
  margin: -100px 0 0 240px;
}
.plan_img3 {
  width: 233px;
  height: 350px;
  display: block;
  margin: -370px 0 0 0;
}
.plan_img4 {
  margin: 120px 0 0 200px;
}
.plan_img5 {
  margin: -20px 0 0 0;
}
/*-----PC背景-------------------------*/
.pl_wrapper_back {
  width: 590px;
  height: 590px;
  background: linear-gradient(10deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
  border-radius: 50%;
  position: absolute;
  top: 0%;
  z-index: -1;
}
.pl_backcircle {
  width: 115vw;
  height: 115vw;
  background: linear-gradient(160deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -28vw;
  left: 7vw;
}
/* #endregion top */
/* =====オプション=========================== */
/* #region */
#option {
  position: relative;
  margin-bottom: 300px;
}
#option .section_title {
  text-align: center;
}
.option_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto 300px auto;
}
.option_inner {
  width: 480px;
  box-sizing: content-box;
  margin: 50px 20px 0 20px;
}
.option_inner h3 {
  font-size: clamp(35px, 2.6vw, 50px);
}
.option_text {
  margin-top: 20px;
}
.option_link {
  margin: 0 0 0 auto;
}
/*-----背景 PC-------------------------*/
.op_wrapper_back {
  width: 800px;
  height: 800px;
  background: linear-gradient(270deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
}
.op_wrapper_back2 {
  display: none;
}
.op_backcircle {
  width: 120vw;
  height: 120vw;
  background: linear-gradient(270deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -100px;
  right: 7vw;
}
.option_wrapper_sp {
  display: none;
}
/* #endregion top */
/* =====ドレス＆フラワー===================== */
/* #region */
#dress {
  position: relative;
}
#dress .section_title {
  text-align: center;
}
#dress p {
  text-align: center;
}
.dress_wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto 300px auto;
}
.dress_inner {
  width: 400px;
  margin: 50px 40px 0 40px;
}
.dress_img1,
.dress_img2 {
  width: 400px;
  height: 400px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.dress_img1 {
  background: url(img/dress-1.jpg) no-repeat center center/100%;
}
.dress_img2 {
  background: url(img/dress-2.jpg) no-repeat center center/100%;
}
.dress_link {
  margin: -90px 0 0 300px;
}
/*-----PC背景-------------------------*/
.dr_wrapper_back {
  width: 768px;
  height: 768px;
  background: linear-gradient(20deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
}
.dr_backcircle {
  display: none;
}
/* #endregion top */
/* =====アクセス============================= */
/* #region */
#access {
  position: relative;
  display: flex;
  justify-content: center;
}
.access_img1 {
  width: 1000px;
}
#access p:nth-child(2) {
  margin: 40px 0 20px 0;
}
#access p:nth-child(3) {
  margin: 0 0 40px 0;
}
/*-----PC背景-------------------------*/
.ac_wrapper_back {
  background: linear-gradient(50deg, rgba(102,114,226,0.2) 0%, rgba(102,114,226,0.2) 37%, rgba(102,114,226,0) 100%);
}
.ac_backcircle {
  width: 115vw;
  height: 115vw;
  background: linear-gradient(90deg, rgba(102,114,226,0.3) 0%, rgba(102,201,226,0.3) 37%, rgba(102,201,226,0) 100%);
  top: -550px;
  left: 7vw;
}
/* #endregion top */
/* =====フッター============================= */
/* #region */
#footer {
  background: rgb(102,201,226);
  background: rgb(102,201,226);
  background: linear-gradient(180deg, rgba(102,201,226,0.2) 0%, rgba(102,201,226,0.8) 33%, rgba(255,221,170,1) 100%);
}
.footer_wrapper {
  position: relative;
}
/*-----SVG-------------------------*/
.footer_wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.footer_wave svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 106px;
}
.footer_wave .shape-fill {
  fill: rgba(102,201,226,0.2);
}
/*-----テキスト---------------------*/
.footer_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.footer_logo {
  width: 220px;
  margin-right: 50px;
}
.footer_text_outer {
  display: flex;
  flex-direction: column;
}
.footer_text_inner {
  display: flex;
}
.footer_text_inner ul {
  display: block;
  margin: 20px;
}
.footer_text_inner ul li {
  padding: 8px 0;
}
.footer_text_inner ul a {
  padding: 0 20px;
}
.footer_text_inner ul a:hover {
  color: #ffffff;
  background-color: #6072e2;
  text-shadow: none;
  padding: 5px 20px 8px 20px;
  border-radius: 20px;
}
#footer p {
  text-align: center;
}
.copylight {
  padding-bottom: 80px;
  font-size: 0.875rem;
}
/* #endregion*/
/*======PC  ↑================================*/
.wrap {
  overflow: hidden;
}

